div {}
/**
* 레이아웃을 구성하는 방법 3가지
* display:flex
* float를 사용하는 방법
* position속성을 사용하는 방법
*/


body{
    margin-top:480px;

}
.layout-1{
    position:fixed;
    left:100px;
    top:100px;
    right:100px;
    z-index:1;
}
.layout-2{
    position:absolute;
    padding:30px;
    background:#000;
}
img{
    width:100%;
}





/*
body {
    display:-webkit-flex;
    display:-ms-flex;
    display:flex;
    margin:0;
    flex-wrap:wrap;
}
div {
    flex:1;
    margin:0 10px;
    max-width:400px;
    min-width:200px;
}
img {
    width:100%;
}
*/


/*
div {
    float: left;
    width: 50%;
    margin: 10px;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #efefef;
    border-width:1px 1px 3px 1px;
}
img {
    width:100%;
}
*/

